.pagination-container {
  display: flex;
  justify-content: center;
  align-items: center;
  color: black;
  border-radius: 10px;
  width: 30em;
}

ul, li {
  margin: 0;
  padding: 0;
}

/* .pagination-list {} */

.pagination-number-container {
  display: inline-block;
  background-color: rgb(241, 230, 230);
  border-radius: 10px;
  margin: 1em 1em 0 1em;
}

.pagination-number {
  list-style-type: none;
  font-weight: bold;
  font-size: 1.2em;
  width: 1em;
  padding: .5em;
  cursor: pointer;
}

.pagination-number-container:hover,
.pagination-number-container:focus {
  outline: none;
  background-color: rgb(220, 41, 10);
}

.pagination-number:hover,
.pagination-number:focus {
  outline: none;
  color: rgb(241, 230, 230);
}