.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 10px;
  margin: 0 3em .5em 0;
}


/* Search engine */
.search-input {
  font-size: 1rem;
  font-family: inherit;
  background: url(../../images/search-icon.png) no-repeat scroll 15px 13px;
  color: black;
  background-color: rgb(241, 230, 230);
  margin-right: -5px;
  padding: 0.7em 3em;
  width: 25em;
  border: none;
  border-radius: 10px 0 0 10px;
  box-shadow: 0 0 5px rgb(94, 93, 93);
}

.search-input:focus {
  outline: none;
  background-color: rgb(241, 230, 230);
}

/* Get rid of cross */
input[type="search"]::-webkit-search-cancel-button {
  display: none;
}

/* Button */
.search-pokemon-btn {
  color: rgb(241, 230, 230);
  font-family: inherit;
  font-size: 1rem;
  font-weight: bold;
  background-color: rgb(220, 41, 10);
  padding: 0.7em 2em;
  border: none;
  border-radius: 0 10px 10px 0;
  cursor: pointer;
  transition: 100ms ease-in-out;
  margin-right: 1.5em;
}

.search-pokemon-btn:hover,
.search-pokemon-btn:focus {
  outline: none;
  background-color: rgb(247, 162, 16);
  color: rgb(241, 230, 230);
}

.search-pokemon-btn:active {
  background-color: rgb(220, 41, 10);
  box-shadow: 0 3px black;
  transform: translateY(0.5px);
}

/* Media queries */

@media (max-width: 1070px) {
  .search-engine-container {
    display: flex;
  }

  .search-input {
    width: 100%;
  }
}

@media (max-width: 900px) {
  /* Hacer menu desplegable y searchbar nuevo o suficiente con menu desplegable */
  .header-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-right: 0;
    margin-left: 0;
  }

  /* .nav-container {} */

  /* .search-engine-container {} */

  /* .search-input {} */
}